.modal-dialog {
  width: 1040px;
}

#newVra_popup .quarterWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#newVra_popup .quarterWrap .checkRight .checkbox-inline + .checkbox-inline {
  margin-left: 15px !important;
}
#newVra_popup .quarterWrap .checkRight .checkbox-inline:has(input:checked)::after {
  background-image: url(/res/img/ncsoft/ic_range_dis.svg) !important;
}
#newVra_popup .quarterNum {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #4A4A4A;
}
#newVra_popup .quarterNum .tit {
  padding-right: 12px;
  margin-right: 12px;
  position: relative;
}
#newVra_popup .quarterNum .tit::after {
  content: "";
  width: 1px;
  height: 11px;
  background-color: #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#newVra_popup .quarterNum .value {
  color: #006979;
}
#newVra_popup .panel-body,
#newVra_popup .modal-body {
  padding: 0;
}
#newVra_popup .modal-body {
  min-height: 643px;
  height: auto;
}
#newVra_popup .list-group-item {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-left: 36px;
  height: 76px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}
#newVra_popup .list-group-item.selected {
  font-size: 16px;
  color: #25B5AC;
  font-weight: 700;
}
#newVra_popup .list-group-item.selected .number {
  background-color: #25B5AC;
  color: #fff;
}
#newVra_popup .list-group-item .number {
  display: inline-block;
  margin-right: 12px;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
#newVra_popup .list-group-item:last-child {
  border-bottom: 0;
}
#newVra_popup .wizard_step_list {
  width: 216px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #eee;
  height: 100%;
}
#newVra_popup .wizard_step_contents {
  padding: 32px 40px 40px 34px;
  margin-left: 216px;
  display: flex;
  flex-direction: column;
}
#newVra_popup .wizard_step_contents .select2-container {
  width: calc(100% - 155px) !important;
}
#newVra_popup .wizard_step_content .colTop {
  border-top: 1px solid #4A4A4A;
}
#newVra_popup .wizard_step_content .col > div {
  display: flex;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  align-items: center;
  padding: 15px 0;
  position: relative;
  padding-left: 140px;
}
#newVra_popup .wizard_step_content .col > div[required] .control-label:after {
  content: "";
  border-radius: 2px;
  width: 4px;
  height: 4px;
  background-color: #C5003E;
  margin-bottom: 13px;
  margin-left: 2px;
}
#newVra_popup .wizard_step_content .col > div .control-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 120px;
  min-width: unset;
  background-color: #FAFAFA;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  padding: 16px 0;
}
#newVra_popup .wizard_step_content .col > div .control-label-top {
  align-items: flex-start;
}
#newVra_popup .wizard_step_content .col > div .form-control {
  height: 40px;
  background: transparent;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
#newVra_popup .wizard_step_content .col > div .form-control:-moz-read-only {
  border-color: #eee;
  background-color: #FAFAFA;
  color: #4A4A4A;
}
#newVra_popup .wizard_step_content .col > div .form-control:read-only {
  border-color: #eee;
  background-color: #FAFAFA;
  color: #4A4A4A;
}
#newVra_popup .wizard_step_content .diskSelect {
  width: 100%;
}
#newVra_popup .wizard_step_content .diskSelect + .diskSelect {
  margin-top: 10px;
}
#newVra_popup .stepSummary table {
  height: auto;
}
#newVra_popup #S_PURPOSE_DIV .select2-container {
  width: 260px !important;
}
#newVra_popup #S_PURPOSE_DIV .input-group {
  width: auto;
  position: absolute;
  top: 0;
  right: 31px;
}
#newVra_popup #S_PURPOSE_DIV .input-group .form-control {
  width: 153px;
}
#newVra_popup #S_PURPOSE_DIV .input-group .form-control:focus {
  box-shadow: none;
}
#newVra_popup #S_PURPOSE_DIV .input-group .btn {
  width: 47px;
  height: 36px;
  background-color: #009D93;
  border-radius: 4px;
  color: #fff !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  border: 0;
  margin-left: 8px;
}
#newVra_popup .catalog_list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#newVra_popup .catalog_list .catalog {
  width: 242px;
  height: 136px;
  border: #25B5AC 1px solid;
  border-radius: 16px;
  padding: 29px 24px;
}
#newVra_popup .catalog_list .catalog.selected {
  background-color: #E5F3F2;
  border: 1px solid #97D8D4;
}
#newVra_popup .catalog_list .catalog .name {
  color: #006979;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}
#newVra_popup .catalog_list .catalog .desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
}
#newVra_popup .wizard_buttons {
  margin-left: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
  padding-bottom: 40px;
}
#newVra_popup .popupBtn {
  height: 56px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  margin: 0;
  background-color: #EEEEEE;
  color: #2C2C2C !important;
}
#newVra_popup .popupBtn.prev {
  background-color: #EEEEEE !important;
  color: #2C2C2C !important;
  border: 0 !important;
}
#newVra_popup .popupBtn.next {
  background-color: #009D93 !important;
  color: #fff !important;
  font-weight: 700;
}
#newVra_popup .popupBtn.finish {
  max-width: 320px;
  background-color: #009D93 !important;
  color: #fff !important;
  font-weight: 700;
}
#newVra_popup .checkbox-inline {
  padding: 0;
  padding-left: 22px;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #4A4A4A;
}
#newVra_popup .checkbox-inline input {
  display: none;
}
#newVra_popup .checkbox-inline::after {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 16px;
  position: absolute;
  left: 0;
  top: 1px;
}
#newVra_popup .checkbox-inline:has(input:checked)::after {
  background: url(/res/img/ncsoft/radio_selected.svg) center/cover no-repeat;
  border: 0;
}
#newVra_popup .checkbox-inline + .checkbox-inline {
  margin-left: 45px !important;
}
#newVra_popup .topInfo .checkbox-inline + .checkbox-inline {
  margin-left: 15px !important;
}

.insertCheck {
  display: inline-flex;
  align-items: center;
}
.insertCheck .checkBox {
  margin: 0;
  margin-left: 28px;
  margin-right: 34px;
}
.insertCheck .btn {
  margin-left: 8px;
  background: #009D93;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF !important;
}

.topInfo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 20px;
}
.topInfo .subStepList {
  display: flex;
  align-items: center;
}
.topInfo .subStepList .subStepTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  position: relative;
  border: 1px solid #DDDDDD;
  background-color: #fff;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #4A4A4A;
  width: 182px;
  box-sizing: border-box;
  margin-left: -4px;
}
.topInfo .subStepList .subStepTitle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -1px;
  width: 11px;
  height: 36px;
  background: url(/res/img/ncsoft/bg_tab_df.svg) center/cover no-repeat;
}
.topInfo .subStepList .subStepTitle.selected {
  color: #006979;
  background-color: #EEF9F7;
  border-color: #97D8D4;
}
.topInfo .subStepList .subStepTitle.selected::after {
  background-image: url(/res/img/ncsoft/bg_tab_ac.svg);
}
.topInfo .subStepList .subStepTitle:nth-child(1) {
  z-index: 3;
  margin-left: 0;
}
.topInfo .subStepList .subStepTitle:nth-child(2) {
  z-index: 2;
}
.topInfo .subStepList .subStepTitle:nth-child(3) {
  z-index: 1;
}
.topInfo .subStepList .subStepTitle:last-child {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.topInfo .subStepList .subStepTitle:last-child::after {
  display: none;
}
.topInfo .subStepList .subStepTitle:last-child.selected {
  border-color: #97D8D4;
}
.topInfo .checkRight {
  flex: 1 0 auto;
  text-align: right;
  margin-bottom: 3px;
}

.appliSelectWrap {
  display: flex;
  gap: 43px;
}
.appliSelectWrap .appliSelect {
  outline: none;
  cursor: pointer;
  width: auto;
  min-height: unset;
  padding: 0;
  padding-right: 20px;
  border: 0;
  background: url(/res/img/ncsoft/icon_16_dw.svg) right center/16px no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.appliSelectWrap .appliSelect::-ms-expand {
  display: none;
}

.appliItemWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.appliItemWrap .appliItem {
  min-width: 220px;
  width: auto;
  position: relative;
  height: 36px;
  padding: 0 30px 0 12px;
  display: flex;
  align-items: center;
  text-align: left;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #4A4A4A;
}
.appliItemWrap .appliItem .delete {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(/res/img/ncsoft/ic_x_delete.svg) center no-repeat;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}
.appliItemWrap .appliItem:first-child {
  margin-top: 13px;
}

.stepSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}
.stepSummary .info {
  position: relative;
  padding-left: 80px;
  margin: 0 auto;
}
.stepSummary .info .ok-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: url(/res/img/ncsoft/ic_60_ok.svg) center/cover no-repeat;
}
.stepSummary .info .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #009D93;
  margin-bottom: 8px;
}
.stepSummary .info .desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
}
.stepSummary .summary-content .number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #4A4A4A;
  border-radius: 24px;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 42px;
}
.stepSummary .summary-content .title {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #000000;
}
.stepSummary .summary-content .info {
  padding-left: 0;
}
.stepSummary .summary-content .col {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.stepSummary .summary-content .col > div {
  padding-left: 160px !important;
}
.stepSummary .summary-content .col > div .control-label {
  width: 160px !important;
}
.stepSummary .summary-content .col .hastitle {
  width: 100%;
  padding: 0;
}

.info:has(.col-dual) {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #4A4A4A;
}

#newVra_popup_step_content_5 {
  text-align: center;
}
#newVra_popup_step_content_5 .done-icon {
  margin: 0 auto;
  margin-top: 28px;
  width: 128px;
  height: 128px;
  background: url(/res/img/ncsoft/ic_128_done.svg) center/cover no-repeat;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.08));
}
#newVra_popup_step_content_5 .done-msg {
  margin: 0 auto;
  margin-top: 28px;
  width: 60%;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  color: #009D93;
}

.web_disk-area {
  height: auto;
}

.stepLabel .control-label:has(.btn-new-dis) + .hastitle.output {
  height: auto;
}

.web_disk_data_disk_tbl td {
  padding-top: 10px;
}/*# sourceMappingURL=newVra.css.map */