body {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
#userInfo {
    position: relative;
    padding-right: 52px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#userInfo .userNameInfo {
    line-height: 20px;
    text-align: right;
}
#userInfo .userNameInfo::after {
    content: '님';
    display: inline;
    font-family: inherit;
    color: #4A4A4A;
}
#userInfo .team {
    color: #4A4A4A;
    
}
#userInfo .user_name {
    color: #000;
    font-weight: 700;
}

#userInfo .userProfile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: -52px;
}