html {
    background-color: #FAFAFA;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.topArea {
    position: relative;
    background-color: #fff;;
    height: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
    .topLine {
        height: 10px;
        background-color: #00BFB3;
        border-bottom: 2px solid #009D93;
        box-sizing: border-box;
    }
}
#topArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 72px;

    .topLogo {
        position: relative;
        top: unset;
        left: unset;
    }

    #userInfo {
        position: static;
        padding-right: 52px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 0;
        float: initial;
        line-height: 1;
        top: unset;
        width:auto;
        height: auto;
        .userNameInfo {
            line-height: 20px;
            text-align: right;
            top:unset;
        }
        .userNameInfo::after {
            content: '님';
            display: inline;
            font-family: inherit;
            color: #4A4A4A;
        }
        .team {
            color: #4A4A4A;
        }
        .user_name {
            color: #000;
            font-weight: 700;
        }
        .userProfile {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            overflow: hidden;
            object-fit: cover;
            position: absolute;
            top: -12px;
            right: -52px;
        }
    }
}
#content {
    padding: 0;
}
.content-body {
    margin: 0;
    width: 100%;
    min-width: unset;
}
.menu-layout-3 {
    background: transparent;
    .main {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        width: auto;
    }    
}

#header_detail {
    .panel-body {
        padding: 24px 40px;
    }
}
#topIcon {
    .table_inner_icon.selected {
        background: #FFFFFF;
        border: 1px solid #009D93;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        color: #009D93;
        width: 140px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
        .userinfoName {
            margin: 0;
            line-height: 24px;
            padding-top: 4px;
        }
        #createServer_icon {
            filter: unset;
        }
    }
    
}