:root {
  --fc-button-bg-color: red;
  --fc-small-font-size: 12px;
}

.fullcalendar-container .fc-daygrid-event-dot {
  display: none;
}
.fullcalendar-container .fc-event-title {
  color: #FF6A13;
  font-size: 14px;
}
.fullcalendar-container #vmCntQuota_popup .modal-dialog {
  width: 800px;
}
.fullcalendar-container .fullcalendar {
  height: 500px;
}
.fullcalendar-container .calendar.title {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fullcalendar-container .calendar.title .btn {
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
}
.fullcalendar-container .calendar.title .prev {
  background: url(/res/img/ncsoft/icon_16_arrow_left.svg) center no-repeat;
}
.fullcalendar-container .calendar.title .next {
  background: url(/res/img/ncsoft/icon_16_arrow_right.svg) center no-repeat;
}
.fullcalendar-container .fc-h-event {
  background-color: transparent;
  border: 0;
  color: #2c2c2c;
}
.fullcalendar-container .fc-h-event .fc-event-main {
  color: #2c2c2c;
  padding-left: 12px;
}
.fullcalendar-container .reason_D,
.fullcalendar-container .reason_U,
.fullcalendar-container .reason_C {
  position: relative;
}
.fullcalendar-container .reason_D::before,
.fullcalendar-container .reason_U::before,
.fullcalendar-container .reason_C::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #3DBAFF;
}
.fullcalendar-container .reason_U::before {
  background-color: #7B61FF;
}
.fullcalendar-container .reason_D::before {
  background-color: #C5003E;
}
.fullcalendar-container .colTop_accessCount {
  height: 49px;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #ddd;
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #2C2C2C;
}
.fullcalendar-container .borderLeft_none {
  border-right: 1px solid #FAFAFA !important;
}
.fullcalendar-container .borderLeft_line {
  border-right: 1px solid #ddd !important;
}
.fullcalendar-container .tableIcon {
  width: 8px;
  height: 8px;
  background: #C5003E;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
}
.fullcalendar-container .createIcon {
  background: #3DBAFF;
}
.fullcalendar-container .changeIcon {
  background: #7B61FF;
}
.fullcalendar-container .deleteIcon {
  background: #C5003E;
}
.fullcalendar-container #filter {
  margin-bottom: 10px;
}

.fullCanlendar {
  max-width: 1120px;
}
.fullCanlendar .fc-day {
  text-align: left;
}
.fullCanlendar .modal-header {
  border-bottom: 0;
}
.fullCanlendar .modal-body {
  padding-top: 9px;
  padding-bottom: 39px;
}
.fullCanlendar .fc .fc-daygrid-day-top {
  flex-direction: row;
}
.fullCanlendar .fc .fc-daygrid-day-top a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  margin: 0 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  letter-spacing: normal;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk button {
  margin: 0;
}
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk .fc-prev-button,
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk .fc-next-button {
  outline: none;
  box-shadow: none !important;
  padding: 0;
  border: 0;
  width: 26px;
  height: 26px;
  background: url(/res/img/ncsoft/icon_16_arrow_right.svg) center/16px no-repeat;
}
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk .fc-prev-button .fc-icon,
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk .fc-next-button .fc-icon {
  display: none;
}
.fullCanlendar .fc-header-toolbar .fc-toolbar-chunk .fc-prev-button {
  background-image: url(/res/img/ncsoft/icon_16_arrow_left.svg);
}
.fullCanlendar .fc-view-harness {
  width: calc(100% + 12px);
  margin-left: -6px;
  margin-right: -6px;
}
.fullCanlendar .fc-theme-standard td,
.fullCanlendar .fc-theme-standard th {
  border-color: transparent;
  background: transparent;
}
.fullCanlendar .fc-theme-standard .fc-scrollgrid {
  border: 0;
}
.fullCanlendar .fc-theme-standard .fc-col-header th {
  padding: 0 6px 26px;
  text-align: left;
}
.fullCanlendar .fc-theme-standard .fc-col-header th .fc-scrollgrid-sync-inner {
  box-sizing: border-box;
  padding-top: 14px;
  border-top: 1px solid #97D8D4;
  box-shadow: inset 0 5px 0 #EEF9F7;
}
.fullCanlendar .fc-theme-standard .fc-col-header th:nth-child(1) .fc-scrollgrid-sync-inner {
  border-top: 1px solid #EB7A95;
  box-shadow: inset 0 5px 0 #FFF7F7;
}
.fullCanlendar .fc-theme-standard .fc-col-header th:nth-child(1) .fc-scrollgrid-sync-inner a {
  color: #EB7A95;
}
.fullCanlendar .fc-theme-standard .fc-col-header th a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
}
.fullCanlendar .fc-theme-standard .fc-scrollgrid-sync-table td {
  padding: 8px 6px;
}
.fullCanlendar .fc-theme-standard .fc-scrollgrid-sync-table td:nth-child(1) a {
  color: #EB7A95;
}/*# sourceMappingURL=fullCalendar.css.map */