@charset "UTF-8";
.menu-layout-2 .nav-side-menu {
  display: none;
}

.nav-side-menu::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}

.nav-side-menu {
  -ms-overflow-style: none;
}

.topArea {
  position: sticky;
  top: 0;
  background-color: #fff;
  height: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
}
.topArea .topLine {
  height: 10px;
  background-color: #00BFB3;
  border-bottom: 2px solid #009D93;
  box-sizing: border-box;
}

.downLine {
  height: 10px;
  background-color: #00BFB3;
  border-bottom: 2px solid #009D93;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#topArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 72px;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 1;
}
#topArea .topLogo {
  position: relative;
  top: unset;
  left: unset;
}
#topArea .topLogo img {
  width: 170px;
}
#topArea #valueBox {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 auto;
  justify-content: flex-end;
  margin-right: 40px;
}
#topArea #valueBox .divider {
  text-indent: -9999px;
  width: 1px;
  height: 10px;
  background-color: #ddd;
}
#topArea #valueBox .value.quotaInfo {
  position: relative;
}
#topArea #valueBox .value.quotaInfo .unit {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #4A4A4A;
}
#topArea #valueBox .value.quotaInfo .unitValue {
  margin-left: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #009D93;
}
#topArea #valueBox .quotaTip {
  display: none;
  position: absolute;
  left: 50%;
  top: 200%;
  transform: translateX(-50%);
  width: 184px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 12px 20px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}
#topArea #valueBox .quotaTip::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#topArea #valueBox .quotaTip .msg {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C5003E;
  margin-bottom: 9px;
}
#topArea #valueBox .quotaTip .tip {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #686868;
  cursor: pointer;
}
#topArea #valueBox .quotaTip .tip .tipIcon {
  width: 12px;
  height: 12px;
  background: url(/res/img/ncsoft/ic_topInfo.svg) center/cover no-repeat;
  margin-right: 8px;
}
#topArea #userInfo {
  position: static;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  float: initial;
  line-height: 1;
  top: unset;
  width: auto;
  height: auto;
}
#topArea #userInfo .userNameInfo {
  line-height: 20px;
  text-align: right;
  top: unset;
  font-size: 12px;
  font-weight: 400;
  color: #4A4A4A;
}
#topArea #userInfo .userNameInfo .team {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #4A4A4A;
}
#topArea #userInfo .userNameInfo .user_name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
#topArea #userInfo .team {
  color: #4A4A4A;
}
#topArea #userInfo .user_name {
  color: #000;
  font-weight: 700;
}
#topArea #userInfo .userProfile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

#openDashboardEdit {
  width: 16px !important;
  height: 16px !important;
  margin-left: 0px !important;
  float: none !important;
}

.Rounded-Rectangle-3 {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 2.4px;
  border: solid 1px #6e84a3;
  background-color: #525b68;
  padding-top: 7px;
  text-align: center;
}

#lastLoginInfo {
  font-size: 10px;
  color: silver;
}

.menu-layout-3 .nav-side-menu {
  background-color: white;
  overflow: auto;
  font-weight: 200;
  position: fixed;
  z-index: 999;
  width: 220px;
  height: calc(100% - 62px);
  color: #c0bbb7;
  font-size: 13px;
}

#ribbon {
  min-height: 47px;
  padding: 0 13px;
  position: relative;
  background-color: #dddee6;
}

#userInfo {
  float: right;
  color: white;
  margin-right: 20px;
  line-height: 60px;
}

#userInfo .team {
  color: #94a4ca;
}

.menu_level_1 {
  padding: 0;
  border: none;
  margin-top: 0px;
  border-top: 1px solid #e0e8f2;
  padding-left: 25px;
}

#userInfo .user_name {
  color: white;
}

#ribbon h4 {
  display: inline-block;
  margin-left: 5px;
  line-height: 24px;
}

#ribbon .breadcrumb,
#ribbon .breadcrumb a {
  color: #777 !important;
  text-decoration: none !important;
}

.table_title .fa {
  font-size: 14px;
}

#ribbon .breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 11px 34px 11px 0 !important;
  background: 0 0;
  vertical-align: top;
  float: right;
  font-size: 12px;
  line-height: 24px;
}

.main1 {
  padding: 0;
  /*padding-bottom: 52px;*/
  min-height: 500px;
  margin-top: 40px;
  position: relative;
}

#topbar {
  background-color: rgb(71, 78, 105);
}

.fa-sign-out {
  font-size: 16px;
  color: white;
  margin-left: 10px;
}

#menu-button.menu-button-rotate i {
  transform: rotate(180deg);
}

#topbar {
  border-bottom: 2px solid rgb(71, 78, 105);
}

#topbar .topbar-ci {
  width: 220px;
  height: 62px;
  background-color: white;
}

#topbar img {
  cursor: pointer;
}

.menu-toggle {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPScjNzM4MThmJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==");
  border: none;
  float: right;
  position: relative;
  top: 20px;
  right: 7px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 46px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.logout_img {
  vertical-align: middle;
  margin-left: 15px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(/res/img/ncsoft/btn_logout.png);
}

.logout_img:hover {
  background-image: url("./res/img/btn_logout_hover.png");
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/*
.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #fef5a5;
}*/
.nav-side-menu ul.active > .sub-menu > li.no-active,
.nav-side-menu li.active > .sub-menu > li.no-active {
  color: #c0bbb7;
}

.nav-side-menu ul.active > .sub-menu > li.active > a,
.nav-side-menu li.active > .sub-menu > li.active > a {
  color: #012989;
  font-weight: bold;
}

.nav-side-menu ul.active > .sub-menu > li.leaf.active > a,
.nav-side-menu li.active > .sub-menu > li.leaf.active > a {
  color: #012989;
  font-weight: bold;
}

.nav-side-menu li.active > .sub-menu > li.leaf.active > a > span {
  border-bottom: 1px #172a57 solid;
  padding-bottom: 1px;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: white;
  border: none;
  line-height: 32px;
  margin-left: 0px;
}

.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #e0e8f2;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #012989;
  font-size: 15px;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu .sub-menu li > a {
  color: #999999;
  font-weight: normal;
}

.nav-side-menu .sub-menu li.leaf > a {
  color: #999999;
  font-weight: normal;
}

.nav-side-menu .sub-menu li:hover > a {
  color: #012989;
  font-weight: bold;
}

.nav-side-menu .sub-menu li:hover > a {
  color: #012989;
  font-weight: bold;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
}
.panel .btn_group {
  display: inline-block;
  margin-left: 10px;
}

label {
  font-weight: 400;
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: inline-block;
  }
}
a.tree-toggle {
  display: block;
}

.ui-icon-portal {
  background-image: url("./res/img/menu/img_portal.png") !important;
  background-position: 10px 14px;
  background-repeat: no-repeat;
}

.ui-icon-portal:hover {
  background-image: url("./res/img/menu/img_portal_ov.png") !important;
}

.ui-icon-cloud {
  background-image: url("./res/img/menu/img_cloud.png") !important;
  background-position: 10px 14px;
  background-repeat: no-repeat;
}

.ui-icon-cloud:hover {
  background-image: url("./res/img/menu/img_cloud_ov.png") !important;
}

.ui-icon-approval {
  background-image: url("./res/img/menu/img_approval.png") !important;
  background-position: 10px 14px;
  background-repeat: no-repeat;
}

.ui-icon-approval:hover {
  background-image: url("./res/img/menu/img_approval_ov.png") !important;
}

.ui-icon-monitor {
  background-image: url("./res/img/menu/img_monitor.png") !important;
  background-position: 10px 14px;
  background-repeat: no-repeat;
}

.ui-icon-monitor:hover {
  background-image: url("./res/img/menu/img_monitor_ov.png") !important;
}

.ui-icon-noti {
  background-image: url("./res/img/menu/img_noti.png") !important;
  background-position: 10px 14px;
  background-repeat: no-repeat;
}

.ui-icon-noti:hover {
  background-image: url("./res/img/menu/img_noti_ov.png") !important;
}

.ui-icon-systemmng {
  background-image: url("./res/img/menu/img_system.png") !important;
  background-position: 10px 14px;
  background-repeat: no-repeat;
}

.ui-icon-systemmng:hover {
  background-image: url("./res/img/menu/img_system_ov.png") !important;
}

#total_search_form {
  position: absolute;
  top: 18px;
  display: inline-block;
  left: 250px;
}

#total_search_form > .input-popup {
  width: 220px;
  display: inline-block;
}

#total_search_form > .input-popup > .input-group.input {
  background: white;
  border: none;
  border-radius: 10px;
}

#total_search_form > .input-popup > .input-group.input > input.form-control.input {
  border: none;
  box-shadow: none;
  border-radius: inherit;
  width: 100%;
  padding-left: 10px;
}

#total_search_form > .input-popup > .input-group.input > .input-group-btn > button.btn {
  margin-left: -3px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.search-result-popup {
  background-color: white;
  margin-top: 1px;
  border-radius: 5px;
  border: 1px solid #012989;
}

.search-result-popup label {
  width: 100%;
  color: #94a4ca;
  height: 40px;
  line-height: 20px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.search-result-popup label:hover {
  background-color: #172a57;
  color: white;
}

.search-result-popup label.highlight {
  background-color: #3a66cb;
}

.fat.red {
  font-size: 17px !important;
  color: #901212;
}

.fat.add {
  font-size: 17px !important;
  color: #474e69;
}

.menu-layout-3 .nav-side-menu {
  background-color: #2e3339;
  overflow: auto;
  font-weight: 200;
  position: fixed;
  z-index: 999;
  width: 256px;
  height: 100%;
  color: #c0bbb7;
  font-size: 13px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

#ribbon {
  min-height: 120px;
  padding: 0px 30px;
  position: relative;
  background-color: #f5f6fa;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.userNameInfo {
  display: inline-block;
  position: relative;
  top: 6px;
  font-size: 12px;
  font-weight: 900;
  float: right;
}

.myinfo {
  display: inline-block;
  height: auto;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.myTask {
  display: inline-block;
  height: auto;
  position: relative;
  top: 5px;
  cursor: pointer;
  float: right;
}

.myinfo img {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.mylogout img {
  cursor: pointer;
}

.topRightMenu {
  display: inline-block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: #595c65;
  border-radius: 0;
  background-repeat: no-repeat;
  text-align: center;
  background-position: 10px;
  margin: 0px;
  border: 1px solid #424650 !important;
  margin-left: -5px;
  position: relative;
}

.menu-btn {
  background-image: url(/res/img/ncsoft/hynix/menu.png);
  background-color: #757984;
}

.req-btn {
  background-image: url(/res/img/ncsoft/hynix/payment.png);
}

.qna-btn {
  background-image: url(/res/img/ncsoft/hynix/qa.png);
}

.qna-btn .qa {
  width: 29px;
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  position: relative;
  top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: NanumSquareRoundB;
}

.circle {
  line-height: 12px;
  border: 0px solid gray;
  font-size: 13px;
  padding-top: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #e60724;
  color: white;
  display: inline-block;
  float: right;
  position: absolute;
  top: 2px;
}

.userInfo {
  line-height: 60px;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  position: relative;
  height: 50px;
  right: 0px;
  top: 15px;
  width: 275px;
}

.fa.fa-caret-dow:before {
  content: "▼";
  margin-left: 14px;
}

.iconfinder_nav-arrow-right_383100:before {
  width: 9px;
  height: 16px;
  content: "\f104";
  display: inline-block;
  font-family: FontAwesome;
  position: relative;
  top: 7px;
  left: 41px;
  font-size: 21px;
  z-index: 10;
  color: #666666;
}

.logoutImg {
  width: 32px;
  height: 32px;
  border-radius: 14px;
  background-image: url(/res/img/ncsoft/icon_logout.png) !important;
  display: inline-block;
  position: relative;
  top: 15px;
  left: -47px;
}

#searchbar {
  display: inline-block;
  width: 18%;
  height: 30px;
  position: relative;
  top: -10px;
  left: 20%;
}

#searchbar #search_value {
  height: 30px;
  width: 100%;
  border: solid 1px #dddddd;
  padding-left: 20px;
  border-right-color: white !important;
}

#searchbar button {
  margin-left: -3px;
  width: 60px;
  height: 30px !important;
  background: white;
  border-color: white !important;
}

#searchbar .fa .fa-search:before {
  content: "\f002";
  width: 20px;
  height: 20px;
  font-size: 21px;
  color: #42a7f2;
}

#userInfo .team {
  color: #3c404a;
}

#userInfo .user_name {
  color: #3c404a;
}

#ribbon h4 {
  margin-left: 0px;
  line-height: 41px;
  padding: 0px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 5px;
  color: #3c404a;
  display: block;
  clear: both;
}

#ribbon h6 {
  margin-left: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 12px;
  font-family: "MalgunGothic", "NanumSquareRound", sans-serif;
  margin-top: 0px;
  margin: 0px;
  color: #a4a7a9;
}

#ribbon .breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 23px 34px 11px 0 !important;
  background: 0 0;
  vertical-align: top;
  float: right;
  font-size: 12px;
  line-height: 24px;
}

#topbar {
  background: #3c404a;
  top: 80px;
}

#topbar {
  min-width: 1200px;
}

#topbar .topbar-ci {
  width: 250px;
  height: 50px;
}

.logout {
  width: 142px;
  height: 48px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #dddddd;
  background-color: #ffffff;
  border-radius: 40px;
  position: relative;
  top: 5px;
  font-size: 14px;
  text-align: left;
  padding-left: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #666666;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  padding-left: 10px;
  padding-right: 25px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu li.active > .sub-menu > li.leaf.active > a > span {
  border-bottom: none;
}

.menu_level_1 {
  border-top: none;
}

.nav-side-menu .sub-menu li > a {
  color: white;
}

.nav-side-menu .sub-menu li.leaf > a {
  color: white;
}

.nav-side-menu .sub-menu li:hover > a {
  color: white;
}

.nav-side-menu li {
  border-bottom: none;
  line-height: 53px;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  line-height: 45px;
  background: #2e3339;
}

.nav-side-menu ul.active > .sub-menu > li.no-active,
.nav-side-menu li.active > .sub-menu > li.no-active {
  background: #2e3339;
}

.nav-side-menu .sub-menu li.leaf > a {
  background: #2e3339;
}

.nav-side-menu li.active.ui-icon-portal > a :first-child {
  color: white;
}

.nav-side-menu li.active.ui-icon-cloud > a :first-child {
  color: white;
}

.nav-side-menu li.active.ui-icon-approval > a :first-child {
  color: white;
}

.nav-side-menu li.active.ui-icon-monitor > a :first-child {
  color: white;
}

.nav-side-menu li.active.ui-icon-noti > a :first-child {
  color: white;
}

.nav-side-menu li.active.ui-icon-portal {
  background-color: #545c65;
}

.nav-side-menu li.active.ui-icon-cloud {
  background-color: #545c65;
}

.nav-side-menu li.active.ui-icon-approval {
  background-color: #545c65;
}

.nav-side-menu li.active.ui-icon-monitor {
  background-color: #545c65;
}

.nav-side-menu li.active.ui-icon-noti {
  background-color: #545c65;
}

.nav-side-menu ul.active > .sub-menu > li.leaf.active > a,
.nav-side-menu li.active > .sub-menu > li.leaf.active > a {
  background: #545c65;
  color: white;
}

.nav-side-menu li.active > .sub-menu > li.active.leaf {
  background: #545c65;
}

.nav-side-menu li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.nav-side-menu ul.active > .sub-menu > li.active > a,
.nav-side-menu li.active > .sub-menu > li.active > a {
  color: white;
}

.nav-side-menu a:focus,
.nav-side-menu a:hover {
  color: white !important;
}

.ui-NewServer {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-object.png") !important;
  background-position: 30px 17px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #545c65;
}

.ui-onAndOff {
  background-image: url("./res/img/hynix/newHynix/menuIcon/shape-38.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #545c65;
}

.ui-icon-portal {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-portal.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-portal:hover {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-portal.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-stat {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-stat:hover {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
}

.ui-icon-cloud {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-cloud:hover {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-deploy.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-approval {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-approval.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-approval:hover {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-approval.png") !important;
}

.ui-icon-monitor {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-monitor.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-monitor:hover {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-monitor.png") !important;
}

.ui-icon-noti {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-board.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-noti:hover {
  background-image: url("./res/img/hynix/newHynix/menuIcon/vector-smart-board.png") !important;
}

.ui-icon-systemmng {
  background-image: url("./res/img/hynix/img_system.png") !important;
  background-position: 30px 14px;
  background-repeat: no-repeat;
}

.ui-icon-systemmng:hover {
  background-image: url("./res/img/hynix/img_system_ov.png") !important;
}

#total_search_form {
  display: inline-block;
  width: 100%;
  position: static;
}

.search-result-popup label.highlight {
  background-color: #3a66cb;
}

.menuOnOff {
  background-color: #dddddd;
  position: fixed;
  z-index: 10;
  left: 250px;
  top: 85px;
  opacity: 0.8;
  cursor: pointer;
}

.menuOnOff:hover {
  opacity: 1.8;
}

.ClickTarget {
  cursor: pointer;
}

#topbar {
  background: #3c404a;
  height: 50px;
}

#topbar .topbar-ci {
  background: #24282d;
}

.nav-side-menu .menu-logo {
  padding: 20px;
  position: fixed;
  width: 256px;
  background: #2e3339;
  z-index: 50;
  text-align: center;
  border-bottom: 1px solid #545c65;
}

.nav-side-menu .menu-logo img {
  cursor: pointer;
}

.nav-side-menu .menu-list {
  margin-top: 90px;
  margin-bottom: 60px;
}

.userInfoDetail {
  width: 200px;
  height: 180px;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  right: -5px;
  box-shadow: 3px 4px 9px #818181;
  font-size: 16px;
  text-align: center;
  color: #24282d;
  line-height: 22px;
  display: none;
  z-index: 1000;
}

.userTaskDetail {
  width: 400px;
  height: 230px;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  right: -105px;
  box-shadow: 3px 4px 9px #818181;
  font-size: 16px;
  text-align: center;
  color: #24282d;
  line-height: 22px;
  display: none;
  z-index: 1000;
}

.taskHeader {
  width: 100%;
  height: 50px;
  background-color: #edeef3;
  font-size: 13px;
  text-align: left;
}

.taskTitle {
  display: inline-block;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

.taskContents {
  text-align: left;
  padding: 9px;
  font-size: 14px;
  height: 180px;
  overflow: auto;
}

.taskContents .taskList:before {
  content: "-";
  padding-right: 9px;
}

.taskClose {
  background-image: url(/res/img/ncsoft/hynix/rect3.png);
  width: 50px;
  height: 50px;
  float: right;
  cursor: pointer;
  display: inline-block;
}

.userInfo div {
  font-weight: bold;
}

.logout_btn {
  margin-top: 15px;
  width: 150px;
  height: 30px;
  background-color: #00AC4F;
  color: white;
  display: inline-block;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  padding-top: 6px;
}

a.tree-toggle {
  display: inline-block;
}

.panel .btn_group {
  display: inline-block;
  margin-left: 10px;
  width: 100%;
  clear: both;
  text-align: center;
  margin-top: 30px;
}

.menuOnAndOff {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 11px;
  right: 10px;
  border-radius: 15px;
  background-color: #3a4148;
  cursor: pointer;
  background-image: url(/res/img/ncsoft/hynix/newHynix/menuIcon/shape-561.png);
  background-repeat: no-repeat;
  background-position-x: 9px;
  background-position-y: 6px;
}

.topArea {
  height: 80px;
  width: 100%;
  background-color: white;
  z-index: 6;
}

#topArea {
  margin: 0 auto;
  position: relative;
  position: sticky;
  top: 0;
}

.showMenu {
  display: block;
}

.allMenu {
  width: 1250px;
  min-height: 470px;
  height: auto;
  margin: auto;
  background-color: white;
  position: relative;
  top: -50px;
  border: 1px solid #d2d4d9;
}

.allMenuHeader {
  height: 50px;
  background-color: #0C4DA2;
}

.allMenuHeader .title {
  display: inline-block;
  font-size: 14px;
  color: white;
  font-weight: 900;
  padding: 15px;
}

.allMenuHeader .close:before {
  content: url(/res/img/ncsoft/hynix/rect1.png);
}

.close {
  opacity: 1;
}

.close:focus,
.close:hover {
  opacity: 1;
}

.allMenuContents {
  min-height: 420px;
  height: auto;
  padding-left: 30px;
}

.allMenuContentsDeptOne {
  width: 180px;
  min-height: 300px;
  height: auto;
  display: inline-block;
  margin-right: 50px;
  padding-top: 30px;
  vertical-align: top;
}

.allMenuContentsDeptOneTitle {
  border-bottom: 2px solid #757984;
  padding: 5px;
  font-size: 16px;
  font-weight: 900;
  color: #3c404a;
  margin-bottom: 10px;
}

.allMenuContentsDeptTwoTitle a {
  font-size: 14px;
  color: #a4a7a9;
}

.allMenuContentsDeptTwoTitle a:hover {
  font-size: 14px;
  color: #757984;
}

.allMenuContentsDeptTwoTitle a:hover {
  font-size: 14px;
  color: #3c404a;
  font-style: normal;
  text-decoration: none;
}

.carousel-caption h3 {
  font-size: 34px;
  font-weight: 900;
  text-align: left;
}

.carousel-caption div {
  text-align: left;
}

#mainForm #header_detail {
  background-color: #fff;
}
#mainForm #header_detail::after {
  content: "";
  display: block;
  clear: both;
  height: 20px;
}
#mainForm #header_detail .panel-body {
  padding: 0;
  height: auto;
}
#mainForm #header_detail #search_area {
  padding: 10px 40px 10px;
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 80px;
  z-index: 4;
}
#mainForm #header_detail #search_area::after {
  content: "";
  clear: both;
  display: block;
}
#mainForm #header_detail .leftBtn {
  display: flex;
  margin-left: 0;
}
#mainForm #header_detail .leftBtn .btn-group {
  padding: 0;
  margin: 0;
  margin-right: 8px;
}
#mainForm #header_detail .leftBtn .btn-group:nth-last-child(1) button.dropdownBox, #mainForm #header_detail .leftBtn .btn-group:nth-last-child(2) button.dropdownBox {
  background: #FAFAFA;
  border: 1px solid #EEEEEE !important;
  color: #2C2C2C !important;
}
#mainForm #header_detail .leftBtn .btn-group button {
  display: flex;
  align-items: center;
  gap: 4px;
  top: 0;
  left: 0;
  min-width: 88px;
  width: auto;
  height: 40px;
  background: #FAFAFA;
  border: 1px solid #EEEEEE !important;
  color: #4A4A4A !important;
  border-radius: 4px;
  margin: 0;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 400;
}
#mainForm #header_detail .leftBtn .btn-group button.dropdownBox {
  background: #F9FDFD;
  border: 1px solid #E5F3F2 !important;
  color: #053941 !important;
  font-weight: bold;
}
#mainForm #header_detail .leftBtn .btn-group button.dropdownBox .caret {
  background: url(/res/img/ncsoft/icon_16_dw_green.svg) center/cover no-repeat;
}
#mainForm #header_detail .leftBtn .btn-group button .caret {
  width: 16px;
  height: 16px;
  background: url(/res/img/ncsoft/icon_16_dw.svg) center/cover no-repeat;
  border: 0;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu {
  left: 0;
  right: unset;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px;
  padding-left: 12px;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu li {
  padding-left: 18px;
  position: relative;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu li:not(.divider)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  width: 16px;
  height: 16px;
  background: url(/res/img/ncsoft/icon_16_dw.svg) center/cover no-repeat;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu li + li {
  margin-top: 8px;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu li:hover a {
  color: #C5003E !important;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu li:hover::before {
  transform: translateY(-50%) rotate(0);
  background: url(/res/img/ncsoft/icon_16_dw_red.svg) center/cover no-repeat;
}
#mainForm #header_detail .leftBtn .btn-group .dropdown-menu li a {
  border: 0;
  padding: 0;
  color: #4A4A4A !important;
  text-align: left;
  background-color: transparent;
  border: 0 !important;
  height: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
}
#mainForm #header_detail .rightBtn {
  display: flex;
  align-items: center;
}
#mainForm #header_detail .rightBtn > div {
  padding-top: 0;
}
#mainForm #header_detail .rightBtn #filter {
  top: unset;
  left: unset;
  right: unset;
  float: unset;
  min-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 40px;
  height: 28px;
  background: #FAFAFA;
  margin-right: 12px;
  padding: 0 !important;
  border: 1px solid #EEEEEE !important;
  border-radius: 4px;
  text-indent: -9999px;
  font-size: 12px;
  font-weight: 400;
  color: #2C2C2C !important;
}
#mainForm #header_detail .rightBtn #pageSelect {
  width: auto;
  float: unset;
}
#mainForm #header_detail .rightBtn .pagingChangeBox select,
#mainForm #header_detail .rightBtn #paging_select {
  font-family: inherit;
  font-size: 12px;
  margin: 0;
  border: 0;
  padding-right: 20px;
  width: auto;
  color: #2C2C2C;
  padding-left: 10px;
  background: url(/res/img/ncsoft/icon_16_dw.svg) center right/16px no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#mainForm #input_area {
  background-color: #fff;
  margin: 0;
  padding: 0 40px;
}

#searchArea {
  width: auto;
  padding: 0;
  margin-right: 20px;
}

.search-box-btn {
  width: 226px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 40px;
  padding: 0;
  position: relative;
}
.search-box-btn .keyword {
  height: 100%;
  width: 100%;
  margin-right: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.search-box-btn .keyword input {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  background-color: transparent;
}
.search-box-btn .keyword input::-moz-placeholder {
  color: #ccc;
}
.search-box-btn .keyword input::placeholder {
  color: #ccc;
}
.search-box-btn .btn {
  background-color: transparent !important;
  width: 0;
  height: 0;
  padding: 0;
}
.search-box-btn img {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#mainTable {
  width: 100%;
}

#left_menu {
  width: 253px;
  height: calc(100vh - 82px);
  display: inline-block;
  position: relative;
  position: sticky;
  top: 80px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  margin-right: -1px;
  overflow: auto;
}
#left_menu .sub_menu {
  padding: 10px;
}
#left_menu .sub_menu.selected a {
  color: #009D93;
}
#left_menu .title {
  width: 100%;
  height: 93px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  padding: 34px 0 0 40px;
  border-bottom: 1px solid #DDDDDD;
}

#left_menu2 .child {
  color: #3c404a;
  font-weight: 900;
  cursor: pointer;
}
#left_menu2 .child.menuOpen {
  color: #0B4D57;
  font-weight: bold;
}
#left_menu2 .child.menuOpen:after {
  background-image: url(/res/img/ncsoft/icon_16_dw_green.svg);
  transform: rotate(0);
}
#left_menu2 .child:after {
  content: "";
  position: absolute;
  top: 23px;
  left: 40px;
  width: 16px;
  height: 16px;
  background: url(/res/img/ncsoft/icon_16_dw.svg) center/cover no-repeat;
  transform: rotate(-90deg);
}
#left_menu2 > .sub_menu {
  padding: 20px 10px 20px 60px !important;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: -1px;
  position: relative;
}
#left_menu2 > .sub_menu:has(:not(.child))::after {
  content: "";
  width: 6px;
  height: 2px;
  border-radius: 2px;
  background-color: #7E7E7E;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
}
#left_menu2 > .sub_menu > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
#left_menu2 > .sub_menu:has(:not(.child)).selected::after {
  background-color: #009D93;
}
#left_menu2 > .sub_menu:has(:not(.child)).selected > a {
  font-weight: bold;
  color: #009D93;
}
#left_menu2 .sub_menu {
  list-style-type: none;
  padding: 6px;
  background-color: #fff;
  width: 100%;
  padding-left: 60px;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
#left_menu2 #left_menu3 a {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #686868;
}

#left_menu3 {
  margin-top: -10px;
  background-color: #fff;
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
}
#left_menu3 .sub_menu.selected {
  background-color: #ffffff !important;
}
#left_menu3 .sub_menu.selected a {
  color: #009D93 !important;
}
#left_menu3 .sub_menu a {
  color: #a4a7a9 !important;
}
#left_menu3 > .sub_menu {
  border: none;
}

.left_menu3 {
  display: none;
}
.left_menu3 .sub_menu {
  background: url(/res/img/ncsoft/ic_leftMenu_arr02.svg) left 40px center/12px no-repeat;
}
.left_menu3 .sub_menu.selected {
  background-image: url(/res/img/ncsoft/ic_leftMenu_arr02_sel.svg);
}

.left_hide {
  width: 24px;
  height: 40px;
  background-image: url(/res/img/ncsoft/ic_leftMenu_toggle.svg);
  cursor: pointer;
  position: fixed;
  top: 173px;
  left: 252px;
  z-index: 1;
}

.left_show {
  width: 24px;
  height: 40px;
  background-image: url(/res/img/ncsoft/ic_leftMenu_toggle.svg);
  cursor: pointer;
  position: fixed;
  top: 173px;
  left: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.menu-layout-3 .main {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  width: auto;
  min-height: calc(100vh - 80px);
  padding-bottom: 58px;
}
.menu-layout-3 .main.fullscreen {
  margin-left: 0px;
}/*# sourceMappingURL=menu.css.map */