$leftSize : 216px;
.modal-dialog {
    width: 1040px;
}
#newVra_popup {
    .panel-body,
    .modal-body {
        padding: 0;
    }
    .modal-body {
        height: 643px;
    }
    .modal-content {
    }
    .list-group-item {
        border: 0;
        border-bottom: 1px solid #eee;
        margin: 0;
        padding-left: 36px;
        height: 76px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        &.selected {
            font-size: 16px;
            color: #25B5AC;
            font-weight: 700;
            .number {
                background-color: #25B5AC;
                color: #fff;
            }
        }
        .number {
            display: inline-block;
            margin-right: 12px;
            width: 28px;
            height: 28px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
    .wizard_step_list {
        width: $leftSize;
        position: absolute;
        top: 0;
        left: 0;
        border-right:1px solid #eee;
        height: 100%;
    }
    .wizard_step_contents {
        padding: 32px 40px 40px 34px;
        margin-left: $leftSize;
        overflow: auto;
        .select2-container {
            width: calc(100% - 155px) ;
        }
    }
    .wizard_step_content {
        $thWidth : 120px;
        > .col:nth-of-type(1) {
            border-top: 1px solid #4A4A4A;
        }
        .col > div {
            display: flex;
            border-bottom: 1px solid #ddd;
            align-items: center;
            padding: 15px 0;
            position: relative;
            padding-left: $thWidth + 20px;
            .value-title:after {
                content: '';
                border-radius: 2px;
                width: 4px;
                height: 4px;
                background-color: #C5003E;
                margin-bottom: 13px;
                margin-left: 2px;
            }
            .control-label {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: $thWidth;
                min-width: unset;
                background-color: #FAFAFA;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                text-align: center;
                color: #000000;
            }
            .form-control {
                height: 40px;
                background: #FFFFFF;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
                &:read-only {
                    border-color: #eee;
                    background-color: #FAFAFA;
                    color: #4A4A4A;
                }
            }
        }
        .diskSelect {
            width: 100%;
            height: 25px;
        }
        
    }
    .stepSummary table {
        height: auto ;
    }
    #S_PURPOSE_DIV .select2-container {
        width: 260px !important;
    }
    #S_PURPOSE_DIV .input-group {
        width: auto;
        position: absolute;
        top: 0;
        right: 31px;
        .form-control {
            width: 153px;
            &:focus {
                box-shadow: none;
            }
        }
        .btn {
            width: 47px;
            height: 36px;
            background-color: #009D93;
            border-radius: 4px;
            color: #fff !important;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            border: 0;
            margin-left: 8px;
        }
    }
    .catalog_list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        .catalog {
            width: 242px;
            height: 136px;
            border: #25B5AC 1px solid;
            border-radius: 16px;
            padding: 29px 24px;
            &.selected {
                background-color: #25B5AC;
            }
            .name {
                color: #009D93;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 8px;
            }
            .desc {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #4A4A4A;
            }
        }
    }
    
    .subStepList .subStepTitle {
        border: #DDDDDD 1px solid;
        width: 100px;
        padding: 5px;
        border-radius: 24px;
        text-align: center;
        float: left;
        &.selected {
            color: white;
            background-color: #006979;
        }
    }
    .wizard_buttons {
        margin-left: $leftSize;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .popupBtn {
        height: 56px;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 0;
        margin: 0;
        background-color: #EEEEEE;
        color: #2C2C2C !important;
        &.prev {
            background-color: #EEEEEE !important;
            color: #2C2C2C !important;
            border: 0 !important;
        }
        &.next {
            background-color: #009D93 !important;
            color: #fff !important;
            font-weight: 700;
        }
        &.finish {
            max-width: 320px;
            background-color: #009D93 !important;
            color: #fff !important;
            font-weight: 700;
        }
    }
    .checkbox-inline {
        padding: 0;
        padding-left: 22px;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #4A4A4A;
        input {
            display: none;
        }
        &::after {
            content: '';
            width: 16px;
            height: 16px;
            border: 1px solid #ddd;
            border-radius: 16px;
            position: absolute;
            left: 0;
            top: 1px;
        }
        &:has(input:checked)::after {
            background: url(/res/img/ncsoft/radio_selected.svg) center/cover no-repeat;
            border: 0;
        }
        & + .checkbox-inline {
            margin-left: 45px !important;
        }
    }
}






