@mixin quarterWrap {
    .quarterWrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .checkRight {
            .checkbox-inline + .checkbox-inline {
                margin-left: 15px !important;
            }
            // .checkbox-inline:has(input:checked)::after {
            //     background-image: url(/res/img/ncsoft/ic_range_dis.svg) !important;
            // }
        }
    }
    .quarterNum {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #4A4A4A;
        // margin-bottom: 16px;
        .tit {
            padding-right: 12px;
            margin-right: 12px;
            position: relative;
            &::after {
                content: '';
                width: 1px;
                height: 11px;
                background-color: #ddd;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .value {
            color: #006979;
        }
    }
}

$leftSize : 216px;
.modal-dialog {
    width: 1040px;
}
#newVra_popup {
    @include quarterWrap;
    .panel-body,
    .modal-body {
        padding: 0;
    }
    .modal-body {
        min-height: 643px;
        height: auto;
    }
    .modal-content {
    }
    .list-group-item {
        border: 0;
        border-bottom: 1px solid #eee;
        margin: 0;
        padding-left: 36px;
        height: 76px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        &.selected {
            font-size: 16px;
            color: #25B5AC;
            font-weight: 700;
            .number {
                background-color: #25B5AC;
                color: #fff;
            }
        }
        .number {
            display: inline-block;
            margin-right: 12px;
            width: 28px;
            height: 28px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
    .wizard_step_list {
        width: $leftSize;
        position: absolute;
        top: 0;
        left: 0;
        border-right:1px solid #eee;
        height: 100%;
    }
    .wizard_step_contents {
        padding: 32px 40px 40px 34px;
        margin-left: $leftSize;
        display: flex;
        flex-direction: column;
        .select2-container {
            width: calc(100% - 155px) !important;
        }
        #S_PURPOSE_DIV,
        #tagBox {
            .select2-container {
                width: calc(100% - 20px) !important;
            }
        } 
    }
    .wizard_step_content {
        $thWidth : 120px;
        .colTop {
            border-top: 1px solid #4A4A4A;
        }
        // .col {
        //     border-top: 0;
        // }
        // .col:not(.col-dual) {
        //     width: 100%;
        // }
        // .col-dual {
        //     width: 50%;
        //     border-top: 0 !important;
        // }
        .col > div {
            display: flex;
            border-bottom: 1px solid #ddd;
            border-top: 0;
            align-items: center;
            padding: 15px 0;
            position: relative;
            padding-left: $thWidth + 20px;
            &[required] .control-label:after {
                content: '';
                border-radius: 2px;
                width: 4px;
                height: 4px;
                background-color: #C5003E;
                margin-bottom: 13px;
                margin-left: 2px;
            }
            .control-label {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: $thWidth;
                min-width: unset;
                background-color: #FAFAFA;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                text-align: center;
                color: #000000;
                padding: 16px 0;
            }
            .control-label-top {
                align-items: flex-start;
            }
            .form-control {
                height: 40px;
                background: transparent;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
                line-height: 1.3;
                // &:read-only {
                //     border-color: #eee;
                //     background-color: #FAFAFA;
                //     color: #4A4A4A;
                // }
            }
            select.form-control {
                background: url(../../res/img/ncsoft/icon_16_dw.svg) center right 12px/16px no-repeat;
            }
        }
        .diskSelect {
            width: 100%;
            // height: 25px;
        }
        .diskSelect + .diskSelect {
            margin-top: 10px;
        }
        
    }
    .stepSummary table {
        height: auto ;
    }
    #S_PURPOSE_DIV .select2-container {
        width: 260px !important;
    }
    #S_PURPOSE_DIV .input-group {
        width: auto;
        position: absolute;
        top: 0;
        right: 31px;
        .form-control {
            width: 153px;
            &:focus {
                box-shadow: none;
            }
        }
        .btn {
            width: 47px;
            height: 36px;
            background-color: #009D93;
            border-radius: 4px;
            color: #fff !important;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            border: 0;
            margin-left: 8px;
        }
    }
    .catalog_list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        .catalog {
            width: 242px;
            height: 136px;
            border: #25B5AC 1px solid;
            border-radius: 16px;
            padding: 29px 24px;
            cursor: pointer;
            &.selected {
                background-color: #E5F3F2;
                border: 1px solid #97D8D4;
            }
            .name {
                color: #006979;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 8px;
            }
            .desc {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #4A4A4A;
            }
        }
    }
    
    .wizard_buttons {
        margin-left: $leftSize;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 0;
        padding-bottom: 40px;
    }
    .popupBtn {
        height: 56px;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 0;
        margin: 0;
        background-color: #EEEEEE;
        color: #2C2C2C !important;
        &.prev {
            background-color: #EEEEEE !important;
            color: #2C2C2C !important;
            border: 0 !important;
        }
        &.next {
            background-color: #009D93 !important;
            color: #fff !important;
            font-weight: 700;
        }
        &.finish {
            max-width: 320px;
            background-color: #009D93 !important;
            color: #fff !important;
            font-weight: 700;
        }
    }
    .checkbox-inline {
        padding: 0;
        padding-left: 22px;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #4A4A4A;
        input {
            display: none;
        }
        &::after {
            content: '';
            width: 16px;
            height: 16px;
            border: 1px solid #ddd;
            border-radius: 16px;
            position: absolute;
            left: 0;
            top: 1px;
        }
        &:has(input:checked)::after {
            // background: url(/res/img/ncsoft/radio_selected.svg) center/cover no-repeat;
            // border: 0;
        }
        & + .checkbox-inline {
            margin-left: 45px !important;
        }
    }
    .topInfo .checkbox-inline + .checkbox-inline {
        margin-left: 15px !important;
    }
}


.insertCheck {
    display: inline-flex;
    align-items: center;
    .checkBox {
        margin: 0;
        margin-left: 28px;
        margin-right: 34px;
    }
    .btn {
        margin-left: 8px;
        background: #009D93;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;        
        width: 47px;
        height: 36px;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF !important;
    }
}





.topInfo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 36px;
    margin-bottom: 20px;
    .subStepList {
        display: flex;
        align-items: center;
        .subStepTitle {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            position: relative;
            border: 1px solid #DDDDDD;
            background-color: #fff;
            border-right: 0;
            border-radius: 4px 0 0 4px;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            color: #4A4A4A;
            width: 182px;
            box-sizing: border-box;
            margin-left: -4px;
            &::after {
                content: '';
                position: absolute;
                right: -10px;
                top: -1px;
                width: 11px;
                height: 36px;
                background: url(/res/img/ncsoft/bg_tab_df.svg) center/cover no-repeat;
            }
            &.selected {
                color: #006979;
                background-color: #EEF9F7;
                border-color: #97D8D4;
                &::after {
                    background-image: url(/res/img/ncsoft/bg_tab_ac.svg);
                }
            }
            &:nth-child(1) {
                z-index: 3;
                margin-left: 0;
            }
            &:nth-child(2) {
                z-index: 2;
            }
            &:nth-child(3) {
                z-index: 1;
            }
            &:last-child {
                border: 1px solid #ddd;
                border-radius: 4px;
                &::after {
                    display: none;
                }
                &.selected {
                    border-color: #97D8D4;
                }
            }
        }
    }
    .checkRight {
        flex: 1 0 auto;
        text-align: right;
        margin-bottom: 3px;
    }
    // .checkbox-inline:has(input:checked)::after {
    //     background-image: url(/res/img/ncsoft/ic_range_dis.svg) !important;
    // }
}






.appliSelectWrap {
    display: flex;
    gap: 43px;
    .appliSelect {
        outline: none;
        cursor: pointer;
        width: auto;
        min-height: unset;
        padding: 0;
        padding-right: 20px;
        border: 0;
        background: url(/res/img/ncsoft/icon_16_dw.svg) right center/16px no-repeat;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand {
        display: none;
        }
   
    }
}
.appliItemWrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .appliItem {
        min-width: 220px;
        width: auto;
        position: relative;
        height: 36px;
        padding: 0 30px 0 12px;
        display: flex;
        align-items: center;
        text-align: left;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #4A4A4A;
        .delete {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background: url(/res/img/ncsoft/ic_x_delete.svg) center no-repeat;
            cursor: pointer;
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
    .appliItem:first-child {
        margin-top: 13px;
    }
}

.stepSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    .info {
        position: relative;
        padding-left: 80px;
        margin: 0 auto;
        .ok-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            background: url(/res/img/ncsoft/ic_60_ok.svg) center/cover no-repeat;
        }
        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            color: #009D93;
            margin-bottom: 8px;
        }
        .desc {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #4A4A4A;
        }
    }
    .summary-content {
        .number {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            background-color: #4A4A4A;
            border-radius: 24px;
            font-weight: 700;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 16px;
            margin-top: 42px;
        }
        .title {
            display: inline;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            color: #000000;
        }
        .info {
            padding-left: 0;
        }
        .col {
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #000000;
            > div {
                padding-left: 160px !important;
                .control-label {
                    width: 160px !important;
                }
            }
            .hastitle {
                width: 100%;
                padding: 0;
            }
        }
    }
}
.info:has(.col-dual) {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #4A4A4A;
}
#newVra_popup_step_content_2 {
    .checkbox-inline:has(input:checked)::after {
        background-color: #00A3E0 !important;
        border: 2px solid #64BCEA !important;
        outline: 3px solid #96D2F3;
        width: 10px !important;
        height: 10px !important;
        top: 4px !important;
        left: 3px !important;
    }
}
#newVra_popup_step_content_5 {
    // margin-left: $leftSize;
    text-align: center;
    .done-icon {
        margin: 0 auto;
        margin-top: 28px;
        width: 128px;
        height: 128px;
        // background: url(/res/img/ncsoft/ic_128_done.svg) center/cover no-repeat;
        // filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.08));
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        video {
            width: 500px;
            height: 500px;
            object-fit: cover;
        }
    }
    .done-msg {
        margin: 0 auto;
        margin-top: 28px;
        width: 60%;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 41px;
        color: #009D93;
    }
}
.web_disk-area {
    height: auto;;
}
.stepLabel {
    .control-label:has(.btn-new-dis) + .hastitle.output {
        height: auto;
    }
}

.web_disk_data_disk_tbl td{
    padding-top: 10px;
}

